:root {
  --bg-color: rgb(233, 233, 233);

  --font-color-main: black;
  --font-color-inverted: white;

  --container-color: rgb(202, 202, 202);
  --shadow-color: darkslategray;

  --num-btn-color: rgb(225, 225, 225);
  --operator-btn-bg-color: orange;
  --clear-btn-bg-color: rgb(200, 0, 0);
  --del-btn-bg-color: rgb(152, 152, 152);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--font-color-main);
  height: 100svh;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 5rem;
}

.calc-container {
  width: min(600px, 90%);
  border-radius: 15px;
  padding: 1.5rem;
  background-color: var(--container-color);
  box-shadow: 2px 2px 0 5px var(--shadow-color);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  place-items: stretch;
}

.display {
  grid-column: span 4;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: var(--num-btn-color);
  width: 100%;
  padding: 0.5rem;
  margin: 0;
  border: none;
  box-shadow: inset 1px 1px 0px 3px var(--shadow-color);
  font-size: inherit;
  height: 2.5em;
}

.number-pad {
  grid-column: span 3;
  grid-row: span 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

button {
  /* Reset */
  margin: 0;
  border: none;

  /* Display */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Box Model Stuff */
  padding: 0.1em;
  border-radius: 5px;
  outline: 1px solid var(--shadow-color);
  box-shadow: 2px 2px 0px 2px var(--shadow-color);

  /* Typography */
  font-size: inherit;

  /* Misc */
  user-select: none;
}

button:active {
  box-shadow: inset 2px 2px 0px 1px var(--shadow-color);
  translate: 2px 2px;
}

@media (hover: hover) {
  button:hover {
    filter: brightness(1.1);
  }
}

button > * {
  pointer-events: none;
}

.number,
.point,
.plus-minus {
  background-color: var(--num-btn-color);
}

.operator {
  background-color: var(--operator-btn-bg-color);
}

.clear {
  grid-column: span 2;
  background-color: var(--clear-btn-bg-color);
  color: var(--font-color-inverted);
}

.del {
  grid-column: span 1;
  background-color: var(--del-btn-bg-color);
  color: var(--font-color-inverted);
}

@media (max-width: 640px) {
  body {
    font-size: 10vmin;
  }

  button {
    font-size: 10vmin;
  }

  .number-pad,
  .calc-container {
    gap: 0.3em;
  }

  .calc-container {
    padding: 0.5em;
    border-radius: 0.5em;
  }
}
