:root {
  --bg-color: rgb(233, 233, 233);
  --font-color: black;
  --container-color: white;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--font-color);
  height: 100svh;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 5rem;
}

.calc-container {
  width: min(600px, 90%);
  border-radius: 15px;
  padding: 20px;
  background-color: var(--container-color);
  box-shadow: 2px 2px 0 5px rgb(100, 100, 100);

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 15px;

  place-items: stretch;
}

#input-field {
  grid-column: span 2;
  text-align: right;
  background-color: lightgray;
  width: 100%;
  padding: 0;
  margin: 0 0 10px 0;
  border: none;
  font-size: 5rem;
  box-shadow: inset 1px 1px 0px 3px rgb(114, 114, 114);
}

.number-pad {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.number,
.operator {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 1px 0px rgb(114, 114, 114);
  user-select: none;
  padding: 0.1em;
}

.zero {
  grid-column: span 2;
}

.number:active,
.operator:active {
  box-shadow: inset 2px 2px 1px 0px rgb(114, 114, 114);
  translate: 3px;
}

.number {
  background-color: lightgray;
  text-align: center;
  vertical-align: center;
}

.operator {
  background-color: orange;
}

@media (max-width: 640px) {
  body {
    font-size: 3rem;
  }
}
