:root {
  --bg-color: rgb(233, 233, 233);
  --font-color: black;
  --container-color: rgb(202, 202, 202);
  --shadow-color: darkslategray;
  --num-btn-color: rgb(225, 225, 225);
  --operator-btn-color: orange;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--bg-color);
  color: var(--font-color);
  height: 100svh;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 5rem;
}

.calc-container {
  width: min(600px, 90%);
  border-radius: 15px;
  padding: 1.5rem;
  background-color: var(--container-color);
  box-shadow: 2px 2px 0 5px var(--shadow-color);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;

  place-items: stretch;
}

#input-field {
  grid-column: span 4;
  text-align: right;
  background-color: var(--num-btn-color);
  width: 100%;
  padding: 5px 2px;
  margin: 0;
  border: none;
  box-shadow: inset 1px 1px 0px 3px var(--shadow-color);
  font-size: inherit;
}

#input-field:focus {
  outline: none;
}

.number-pad {
  grid-column: span 3;
  grid-row: span 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

button {
  /* Reset */
  margin: 0;
  border: none;

  padding: 0.1em;
  border-radius: 5px;
  outline: 1px solid var(--shadow-color);
  box-shadow: 2px 2px 0px 2px var(--shadow-color);
  user-select: none;
  font-size: 5rem;
}

button:active {
  box-shadow: inset 2px 2px 0px 1px var(--shadow-color);
  translate: 2px 2px;
}

.number {
  background-color: var(--num-btn-color);
}

.operator {
  background-color: var(--operator-btn-color);
}

.clear {
  grid-column: span 2;
}

.del {
  grid-column: span 1;
}

.zero {
  grid-column: span 2;
}

@media (max-width: 640px) {
  body {
    font-size: 10vmin;
  }

  button {
    font-size: 10vmin;
  }

  .number-pad,
  .calc-container {
    gap: 0.3em;
  }

  .calc-container {
    padding: 0.5em;
    border-radius: 0.5em;
  }
}
